* {
    background-color: rgb(50, 0, 0);
    color: rgb(255, 253, 208);
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
}

.images {
    padding: 20px;
    display: block;
}

ul, .list {
    width: 400px;
}

.measurements {
    border-style: dashed;
    border-color: rgba(255, 248, 117, 0.804);
}

p {
    padding: 20px;
    color: rgb(192, 236, 255);
    text-align: center;
}

.link {
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(99, 177, 99);
    display: block;
    text-align: center;
}

.header {
    text-align: center;
    padding: 20px;
}